@model IEnumerable<Domain.Edition>
@{
    ViewData["Title"] = "Издания";
    var isAdmin = Context.Session.GetInt32("UserLevel") == 2;
}


<h1>Издания</h1>


<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Издательство</th>
            <th>Год выпуска</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ISBN</td>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.Genre</td>
                <td>@item.Publisher</td>
                <td>@item.Year</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ISBN" class="edit-btn">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.ISBN" class="edit-btn">Подробнее</a> |

                    @if (isAdmin)
                    {
                        <a asp-action="Delete" asp-route-id="@item.ISBN" class="delete-btn">Удалить</a>
                    } 
                </td>
            </tr>
        }
    </tbody>
</table>

<button style="width: 170px; margin-left: 10%; margin-top: 20px;">
    <a asp-controller="Editions" asp-action="Create">Добавить издание</a>
</button>