@model IEnumerable<Domain.Client>
@{
    ViewData["Title"] = "Просмотр клиентов";
    var isAdmin = Context.Session.GetInt32("UserLevel") == 2;
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">@item.Id</td>
                <td>@item.Surname</td>
                <td>@item.Name</td>
                <td>@item.Patronymic</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit-btn">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="edit-btn">Подробнее</a> |
                    @if(isAdmin){
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-btn">Удалить</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<button style="width: 170px; margin-left: 10%; margin-top: 20px;">
    <a asp-controller="Clients" asp-action="Create">Добавить клиента</a>
</button>


